/* Wrapper to import CSS files from /public/css so they can be imported in _app.tsx */
@import url('/css/bootstrap.min.css');
@import url('/css/flatpickr.min.css');
@import url('/css/glightbox.min.css');
@import url('/css/main.css');
@import url('/css/swiper-bundle.min.css');
@import url('/css/util.css');
